.MedicationDepartment {
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 15px;
    overflow: hidden;
}

.MedicationDepartment-header {
    box-sizing: border-box;
    background-color: rgb(216, 216, 216);
    padding: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

.MedicationDepartment-body {
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
}

.MedicationDepartment-body > div {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.MedicationDepartment-table {
    width: 100%;
    z-index: 800;
}

.MedicationDepartment-total {
    border-top: 1px solid gray;
}

.MedicationDepartment-total > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MedicationDepartment-total > div:nth-child(1) {
    box-sizing: border-box;
    border: 1px solid rgb(77, 77, 255);
}

.MedicationDepartment-total > div:nth-child(1) > div:nth-child(1) {
    box-sizing: border-box;
    background-color: rgb(77, 77, 255);
    height: 35px;
    width: 100%;
    padding: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MedicationDepartment-total > div:nth-child(1) > div:nth-child(1) > svg {
    height: 100%;
    background-color: rgb(77, 77, 255);
    cursor: pointer;
}

.MedicationDepartment-total > div:nth-child(1) > div:nth-child(2) {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    font-size: 0.8rem;
    font-style: italic;
    color: rgb(255, 67, 67);
    overflow: hidden;

    transition: height 0.3s linear;
}

.MedicationDepartment-total > div:nth-child(1) > div:nth-child(2).show {
    height: 170px;
}

.MedicationDepartment-buttom {
    display: flex;
    justify-content: flex-end;
}

.MedicationDepartment-buttom > div > button {
    border: none;
    padding: 5px;
    font-size: 1.1em !important;
    background-color: rgb(255, 0, 79);
    color: #fff;
    margin: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(255, 0, 79, 0.8);
}

.MedicationDepartment-buttom > div > button:hover {
    background-color: rgb(255, 0, 79, 0.6);
}

.MedicationDepartment-buttom > div > button:active {
    background-color: rgb(255, 0, 79);
}

@media screen and (max-width: 500px) {
    .MedicationDepartment {
        --customColumn-maxWidth: 300px
    }
}