.CaseRecordToastCompletedPrescriptionPage {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 1000;
    width: 100%;

    transition: left 0.3s ease-in-out;
}

.CaseRecordToastCompletedPrescriptionPage.show {
    left: 0;
}

.CaseRecordToastCompletedPrescriptionPage > div {
    background-color: white;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.CaseRecordToastCompletedPrescriptionPage > div > div:nth-child(1) {
    display: flex;
    justify-content: flex-end;
}

.CaseRecordToastCompletedPrescriptionPage > div > div:nth-child(1) > svg {
    border-radius: 50%;
}

.CaseRecordToastCompletedPrescriptionPage > div > div:nth-child(1) > svg:hover {
    background-color: rgb(219, 219, 219);
}

.CaseRecordToastCompletedPrescriptionPage > div > div:nth-child(2) {
    text-align: center;
}