.ChestGroupCreate {
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.ChestGroupCreate-center {
    width: 1200px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.ChestGroupCreate-center > div {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.ChestGroupCreate-center > div > div {
    width: 100px;
}

.ChestGroupCreate-center > div:nth-child(5) > textarea {
    width: 1000px;
    height: 500px;
    resize: none;
}

.ChestGroupCreate-center > div:nth-child(6) > button {
    background-color: blue;
    color: white;
}