.DepartmentOverView {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
}

.DepartmentOverView > div {
    box-sizing: border-box;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.DepartmentOverView > div:hover {
    background-color: rgb(230, 230, 230);
}

.DepartmentOverView > div > div {
    font-weight: 800;
    font-size: 1.5rem;
    color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}