.DoctorPharmacistFooter {
    background-color: white;
    display: flex;
    justify-content: center;
}

.DoctorPharmacistFooter-main {
    width: calc(70% - 20px);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, calc(100%/4));
}

.DoctorPharmacistFooter-child {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.DoctorPharmacistFooter-child span {
    width: max-content;
    cursor: pointer;
    padding: 2px 0;
    word-wrap: break-word;
}

.DoctorPharmacistFooter-child span:hover {
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.DoctorPharmacistFooter-child img {
    width: 40px;
    height: 25px;
    margin: 10px 0;
    cursor: pointer;
}

.DoctorPharmacistFooter-qr {
    height: 200px;
    width: 200px;
}

@media screen and (max-width: 1000px) {
    .DoctorPharmacistFooter-main {
        grid-template-columns: repeat(3, calc(100%/3));
    }
}

@media screen and (max-width: 750px) {
    .DoctorPharmacistFooter-main {
        grid-template-columns: repeat(2, calc(100%/2));
    }
}

@media screen and (max-width: 430px) {
    .DoctorPharmacistFooter-main {
        width: calc(100% - 20px);
        grid-template-columns: repeat(1, calc(100%/1));
    }
}