.Home {
    background-color: #eee;
    height: 100vh;
}

.Home-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.Home-center {
    width: 1200px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}

.Home-center > div {
    margin: 20px 0;
}