.TKS-Row {
    --background-color: white;
}

.TKS-Row {
    width: max-content;
}

.TKS-Row:not(:nth-child(1)) {
    cursor: pointer;
}

.TKS-Row-indexColumn {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 5;
    background-color: var(--background-color);
}

.TKS-Row-indexColumn > div {
    border: 1px solid gray;
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TKS-Row-column {
    display: flex;
    margin-left: 100px;
    z-index: 4;
    background-color: var(--background-color);
}