.TKS-Row-indexColumn {
    position: absolute;
    width: 100px;
    display: flex;
}

.TKS-Row-indexColumn > div {
    border: 1px solid gray;
    box-sizing: border-box;
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TKS-Row-column {
    display: flex;
    margin-left: 100px;
}