.CaseRecordPage {
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.CaseRecordPage-description,
.CaseRecordPage-prescription {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    overflow: hidden;
} 

.CaseRecordPage-description-header,
.CaseRecordPage-prescription-header {
    background-color: #eee;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px;
}

.CaseRecordPage-description-content,
.CaseRecordPage-prescription-content {
    padding: 10px;
}

.CaseRecordPage-description-image,
.CaseRecordPage-description-video {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    margin-top: 5px;
}

.CaseRecordPage-description-image > div,
.CaseRecordPage-description-video > div {
    height: 200px;
    width: 100%;
    background-color: black;
    position: relative;
}

.CaseRecordPage-description-image > div > img,
.CaseRecordPage-description-video > div > video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.CaseRecordPage-description-image > div > svg,
.CaseRecordPage-description-image > div > div,
.CaseRecordPage-description-video > div > svg {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    right: 0;
}

.CaseRecordPage-description-image > div > div {
    border-radius: 10px !important;
    padding: 5px !important;
    background-color: rgb(255, 83, 83);
    color: white;
}

.CaseRecordPage-description-iconContainer,
.CaseRecordPage-prescription-iconContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.CaseRecordPage-description-icon,
.CaseRecordPage-prescription-icon {
    display: flex;
    align-items: center;
    margin: 0 10px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    background-color: greenyellow;
}

.CaseRecordPage-description-icon.image {
    background-color: blue !important;
    color: white !important;
}

.CaseRecordPage-description-icon.video {
    background-color: red !important;
    color: white !important;
}

.CaseRecordPage-description-content textarea {
    width: 100%;
    resize: none;
    height: 300px;
}

.CaseRecordPage-prescription-medicationList {
    box-sizing: border-box;
    padding: 10px;
}

.CaseRecordPage-prescription-medicationList-add {
    display: flex;
    align-items: center;
    background-color: greenyellow;
    width: min-content;
    padding: 2px 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2px;
}

.CaseRecordPage-prescription-medicationList-add:active {
    background-color: white;
    color: greenyellow;
}

.CaseRecordPage-prescription-medicationList-table {
    margin-top: 5px;
}

.CaseRecordPage-prescription-medicationList-table:hover {
    .CaseRecordPage-prescription-medicationList-table-icon {
        height: 22px;
    }
}

.CaseRecordPage-prescription-medicationList-table > div:nth-child(1) {
    display: grid;
    grid-template-columns: 60px repeat(2, 200px) 80px 1fr 0.2fr 0.5fr;
    box-sizing: border-box;
}

.CaseRecordPage-prescription-medicationList-table.header > div:nth-child(1) {
    background-color: rgb(207, 207, 207);
}

.CaseRecordPage-prescription-medicationList-table.list:nth-child(2n) {
    background-color: rgb(255, 227, 227);
}

.CaseRecordPage-prescription-medicationList-table.list:nth-child(2n + 1) {
    background-color: rgb(227, 227, 255);
}

.CaseRecordPage-prescription-medicationList-table > div:nth-child(1) > div {
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    font-size: 1.2rem;
    z-index: 2;
    border: 0.1px solid rgb(209, 209, 209);
}

.CaseRecordPage-prescription-medicationList-table.list > div:nth-child(1) > div > span {
    display: none;
}

.CaseRecordPage-prescription-medicationList-table > div:nth-child(2) {
    display: flex;
    justify-content: flex-end;
    height: 0;
    overflow: hidden;

    transition: height 0.3s ease-in-out;
}

.CaseRecordPage-prescription-medicationList-table > div:nth-child(2) > svg {
    margin: 0 5px;
    cursor: pointer;
}

.CaseRecordPage-prescription-medicationList-table > div:nth-child(2) > svg:hover {
    background-color: rgb(223, 223, 223);
}

.CaseRecordPage-prescription-medicationList-table.list > div > div:nth-child(7) > div {
    font-size: 0.9rem;
    font-style: italic;
}

.CaseRecordPage-prescription-medicationList-table-check {
    font-size: 0.9rem;
    font-style: italic;
}

.CaseRecordPage-prescription-medicationList-table-check.blue {
    color: blue;
}

.CaseRecordPage-prescription-medicationList-table-check.red {
    color: red;
}

.CaseRecordPage-buttonContainer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid red;
    margin-top: 20px;
}

.CaseRecordPage-buttonContainer button {
    margin: 5px;
}

@media screen and (max-width: 1000px) {
    .CaseRecordPage-prescription-medicationList-table > div:nth-child(1) {
        grid-template-columns: repeat(8, 1fr);
        grid-template-areas: 
        "index uid uid uid uid uid uid uid"
        "name name name name name name name amount"
        "note note note note note note note note"
    }

    .CaseRecordPage-prescription-medicationList-table.header > div:nth-child(1) {
        display: none;
    }

    .CaseRecordPage-prescription-medicationList-table.header > div:nth-child(2) {
        height: 22px;
    }

    .CaseRecordPage-prescription-medicationList-table > div:nth-child(1) > div:nth-child(1) {
        grid-area: index;
    }
    .CaseRecordPage-prescription-medicationList-table > div:nth-child(1) > div:nth-child(2) {
        grid-area: uid;
    }
    .CaseRecordPage-prescription-medicationList-table > div:nth-child(1) > div:nth-child(3) {
        grid-area: name;
    }
    .CaseRecordPage-prescription-medicationList-table > div:nth-child(1) > div:nth-child(4) {
        grid-area: amount;
    }
    .CaseRecordPage-prescription-medicationList-table > div:nth-child(1) > div:nth-child(5) {
        grid-area: note;
    }

    .CaseRecordPage-prescription-medicationList-table.list > div:nth-child(1) > div {
        position: relative;
    }
    
    .CaseRecordPage-prescription-medicationList-table.list > div:nth-child(1) > div > span {
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        background-color: #eee;
        font-size: 0.7rem;
        padding: 1px;
        border-radius: 2px;

        transform: translate(-50%, -50%);
    }
}