.Log {
    display: flex;
    justify-content: center;
    background-color: #eee;
}

.Log-main {
    width: 1800px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
}

.Log-topTab {
    display: flex;
}

.Log-topTab > div {
    margin: 0 10px;
}

.Log-topTab-selectPageContainer {
    margin: 0 25px;
    display: flex;
}

.Log-topTab-selectPageContainer > div {
    background-color: rgb(216, 216, 216);
    margin: 0 5px;
    height: 25px;
    min-width: 25px;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Log-topTab-selectPageContainer > div.selected,
.Log-topTab-selectPageContainer > div:hover {
    background-color: gray;
    color: white;
}

.Log-table {
    position: relative;
    background-color: white;
    overflow-x: scroll;
}

.Log-table-row {
    width: max-content;
}

.Log-table-row > div:nth-child(1) {
    display: flex;
    width: max-content;
}

.Log-table-row > div:nth-child(1) > div:nth-child(1) {
    width: 80px;
}
.Log-table-row > div:nth-child(1) > div:nth-child(2) {
    width: 200px;
}
.Log-table-row > div:nth-child(1) > div:nth-child(3) {
    width: 200px;
}
.Log-table-row > div:nth-child(1) > div:nth-child(4) {
    width: 150px;
}
.Log-table-row > div:nth-child(1) > div:nth-child(5) {
    width: 1000px;
}
.Log-table-row > div:nth-child(1) > div:nth-child(6) {
    width: 100px;
}
.Log-table-row > div:nth-child(1) > div:nth-child(7) {
    width: 100px;
}

.Log-table-row-cell {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.Log-table-row-cell > div:nth-child(2) {
    height: 100%;
    width: 5px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: col-resize;
    z-index: 2;
}

.Log-table-row-cell > div:nth-child(2):hover {
    background-color: blue;
}

.Log-table-row-data {
    width: min-content;
    max-width: 1830px;
}

.Log-table-row-data:hover {
    background-color: rgb(176, 255, 255);
}

.Log-table-row-data > div:nth-child(2) {
    border: 1px solid gray;
    overflow: hidden;
    height: 0;

    transition: height 0.3s linear;
}

.Log-table-row-data > div:nth-child(2).showHeader {
    height: 20px;
}

.Log-table-row-data > div:nth-child(2).showViewDetail {
    height: 500px;
}

.Log-table-row-data > div:nth-child(2) > div:nth-child(1) {
    height: 20px;
    background-color: rgb(176, 255, 255);
    display: flex;
}

.Log-table-row-data > div:nth-child(2) > div:nth-child(1) > div {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.Log-table-row-data-detail {
    box-sizing: border-box;
    padding: 10px;
    overflow-y: scroll;
    height: 480px;
}

.Log-table-row-data-detail > div {
    display: flex;
    margin: 10px 0;
}

.Log-table-row-data-detail > div > div {
    margin: 0 10px;
}

.Log-table-row-data-detail-imgContainer {
    display: flex;
    overflow-x: scroll;
}
.Log-table-row-data-detail-imgContainer::-webkit-scrollbar {
    height: 10px;
}
.Log-table-row-data-detail-imgContainer::-webkit-scrollbar-thumb {
    background-color: gray;
}

.Log-table-row-data-detail-imgContainer > img {
    width: 400px;
    height: 300px;
    margin: 0 10px;
    object-fit: contain;
    background-color: black;
}

.Log-table-row-data-detail-videoContainer {
    display: flex;
    overflow-x: scroll;
}
.Log-table-row-data-detail-videoContainer::-webkit-scrollbar {
    height: 10px;
}
.Log-table-row-data-detail-videoContainer::-webkit-scrollbar-thumb {
    background-color: gray;
}
.Log-table-row-data-detail-videoContainer > video {
    width: 800px;
    height: 400px;
    margin: 0 10px;
    object-fit: contain;
    background-color: black;
}