.DepartmentSetup {
    background-color: #eee;
}

.DepartmentSetup-main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.DepartmentSetup-center {
    width: 1200px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
}

.DepartmentSetup-center > button {
    margin: 15px;
}