.Overlay {
    position: fixed;
    width: 100vw;
    height: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;

    transition: height 0.2s linear;
    z-index: 100;
}

.Overlay.show {
    height: 100vh;
}