.RegisterProviderHeader {
    height: 100vh;
    display: flex;
    z-index: 10;
}

.RegisterProviderHeader-optionContainer {
    width: 200px;
    height: 100%;
    background-color: rgb(255,250,250);
    box-sizing: border-box;
    padding: 10px;
    margin-left: -200px;

    transition: margin-left 0.3s ease-in-out;
}

.RegisterProviderHeader-optionContainer.show {
    margin-left: 0;
}

.RegisterProviderHeader-option {
    display: flex;
    font-size: 1.1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 5px;
    border-radius: 15px;
}

.RegisterProviderHeader-option svg {
    margin-right: 5px;
}

.RegisterProviderHeader-option.add {
    color: green;
}
.RegisterProviderHeader-option.add.active {
    background-color: rgb(174, 255, 174);
    color: black;
}
.RegisterProviderHeader-option.add:hover {
    background-color: green;
    color: white;
}

.RegisterProviderHeader-option.change {
    color: blue;
}
.RegisterProviderHeader-option.change.active {
    background-color: rgb(135,206,250);
    color: black;
}
.RegisterProviderHeader-option.change:hover {
    background-color: blue;
    color: white;
}

.RegisterProviderHeader-option.delete {
    color: red;
}
.RegisterProviderHeader-option.delete.active {
    background-color: rgb(255, 176, 176);
    color: black;
}
.RegisterProviderHeader-option.delete:hover {
    background-color: red;
    color: white;
}

.RegisterProviderHeader-showOptions {
    padding: 2px;
    margin: 5px 0;
    border-radius: 50%;
}

.RegisterProviderHeader-showOptions:hover {
    background-color: rgb(206, 206, 206);
}

@media screen and (max-width: 600px) {
    .RegisterProviderHeader {
        position: absolute;
    }
}