.TKS-Cell {
    --Cell-width: 150px;
    --Cell-height: 30px;
    --Cell-textColor: black;
    --Cell-textWeight: 300;
}

.TKS-Cell {
    width: var(--Cell-width);
    height: var(--Cell-height);
    color: var(--Cell-textColor);
    font-weight: var(--Cell-textWeight);
    border: 1px solid gray;
    position: relative;
}

.TKS-Cell > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.TKS-Cell > div:nth-child(2) {
    width: 5px;
    height: 100%;
    position: absolute;
    right: 0;
}

.TKS-Cell > div:nth-child(2):hover {
    background-color: blue;
}