.MedicationOrder {
    background-color: #eee;
}

.MedicationOrder-main {
    width: 1000px;
    background-color: white;
    margin-left: calc((100% - 1000px)/2);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.MedicationOrder-History-header,
.MedicationOrder-MedicateList-header,
.MedicationOrder-Support-header,
.MedicationOrder-Image-header,
.MedicationOrder-Video-header,
.MedicationOrder-Note-header,
.MedicationOrder-Transport-header,
.MedicationOrder-Pay-header {
    background-color: rgb(216, 216, 216);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.1em;
    font-weight: 500;
    padding: 5px;
    box-sizing: border-box;
}

.MedicationOrder-Note-header span {
    font-style: italic;
    font-size: 0.9em;
}

.MedicationOrder-History-list,
.MedicationOrder-MedicateList-list,
.MedicationOrder-Support-list,
.MedicationOrder-Image-list,
.MedicationOrder-Video-list,
.MedicationOrder-Note-list,
.MedicationOrder-Transport-list,
.MedicationOrder-Pay-list {
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.MedicationOrder-History-step,
.MedicationOrder-Transport-step,
.MedicationOrder-Pay-step {
    display: flex;
    align-items: center;
}

.MedicationOrder-History-step div:nth-child(1),
.MedicationOrder-Pay-step div:nth-child(1) {
    background-color: blue;
    color: white;
    border-radius: 50%;
    padding: 3px;
    height: 15px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MedicationOrder-History-step div:nth-child(2),
.MedicationOrder-Pay-step div:nth-child(2) {
    margin: 0 10px;
    font-weight: 500;
}

.MedicationOrder-History-step div:nth-child(2) span {
    font-weight: 400;
    font-style: italic;
}

.MedicationOrder-medicateList-medicate {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    border: 1px solid #eee;
    box-shadow: 3px 3px 3px #eee;
    margin: 5px 0;
}

.MedicationOrder-medicateList-medicate div {
    box-sizing: border-box;
    padding: 5px;
}

.MedicationOrder-medicateList-medicate:nth-child(2n) div {
    color: red;
}

.MedicationOrder-medicateList-medicate:nth-child(2n + 1) div {
    color: blue;
}

.MedicationOrder-medicateList-medicate div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
} 

.MedicationOrder-medicateList-medicate div:nth-child(3) button {
    border: none;
    padding: 5px 10px;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    background-color: blue;
    color: white;
}

.MedicationOrder-medicateList-medicate div:nth-child(3) span {
    font-size: 0.8em;
    font-style: italic;
    color: red;
    font-weight: 500;
    margin: 0 5px;
}

.MedicationOrder-Support-list div:nth-child(1) {
    font-style: italic;
}

.MedicationOrder-Support-list div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.MedicationOrder-Support-list div:nth-child(2) button {
    width: max-content;
    margin: 3px 0;
    cursor: pointer;
}

.MedicationOrder-Image-list,
.MedicationOrder-Video-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 10px;
    max-height: 1000px;
    overflow-y: scroll;
}

.MedicationOrder-Image-list::-webkit-scrollbar,
.MedicationOrder-Video-list::-webkit-scrollbar {
    width: 5px;
}

.MedicationOrder-Image-list::-webkit-scrollbar-thumb,
.MedicationOrder-Video-list::-webkit-scrollbar-thumb {
    background-color: rgb(209, 209, 209);
}

.MedicationOrder-Image-list-imageBox,
.MedicationOrder-Video-list-videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 200px;
    overflow: hidden;
}

.MedicationOrder-Image-list-imageBox img {
    height: 100%;
}

.MedicationOrder-Image-list-imageBox-overlay {
    background: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

.MedicationOrder-Image-list-imageBox-overlay:hover {
    opacity: 1;
}

.MedicationOrder-Image-list-imageBox-overlay strong {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
}

.MedicationOrder-Video-list-videoBox {
    position: relative;
    background-color: black;
}

.MedicationOrder-Video-list-videoBox-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.MedicationOrder-Video-list-videoBox-canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.MedicationOrder-Total {
    border-top: 1px solid red;
    padding: 5px 0;
    margin-bottom: 10px;
}

.MedicationOrder-Total-header {
    font-size: 1.3em;
    font-weight: 700;
    color: red;
}

.MedicationOrder-Total-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.MedicationOrder-Total-list div {
    text-align: center;
}

.MedicationOrder-Report {
    margin-top: 30px;
}

.MedicationOrder-Report div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 0;
}

.MedicationOrder-Report div textarea {
    border: none;
    outline: none;
    background-color: rgb(214, 214, 214);
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    min-height: 150px;
    resize: none;
}

.MedicationOrder-Report div button {
    background-color: red;
    border: none;
    padding: 10px;
    color: white;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .MedicationOrder-main {
        width: 100%;
        margin-left: 0;
    }
}